@mixin titre{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

@mixin subTitle{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}