@import "../mixin";


* ,
*::after,
*::before{
  margin:0;
  padding:0;
  text-decoration: none;
}

html{
height: 100vh;
  font-size: 15px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


body{
  box-sizing: border-box;
  background: white;

}

h2{
  @include italiana;
}

p{
  @include roboto;
}