@import "../mixin";

.section{

    display:none;
    text-align: center;
    max-width: 600px;
    width: 100%;

}
.active{
        
    display: block;
  
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
  }

